<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/tartanhacks-2025/static/css/main.css">
    <title>DeepClean</title>
</head>
<body>

    <div id="side_area">
        <div id="title">

            <h1>DeepClean</h1>
    
        </div>
    
        <div id="prompt">
            <h3>Upload Image here</h3>
            <form action="upload.php" method="post" enctype="multipart/form-data">
                <label for="imageUpload">Choose an image to upload:</label>
                <input type="file" id="imageUpload" name="image" accept="image/*">
                <input type="submit" value="Upload Image">
            </form>
        </div>
    </div>

    

    <!-- <iframe class="bg-video" src="https://www.youtube.com/embed/jWRSGmM9Cig?autoplay=1" frameBorder="0" allowFullScreen allow="autoplay"/> -->
    
</body>
</html>