<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    
    <!-- <link rel="stylesheet" href="/tartanhacks-2025/static/css/main.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel="script" href="tartanhacks-2025/static/js/main.js"> -->
    <title>DeepClean</title>
</head>
<body>
    <div id="title">

        <h1>DeepClean</h1>
        <p>Welcome to DeepClean, cleaning our oceans one piece of trash at a time!</p>

    </div>

    <div id="side_area">
        <p></p>
    </div>

    <div id="cv_container">
        <div id="opencv">
            <img id="cv" src="{{ url_for('video_feed') }}" alt="">
        </div>
    </div>
    
    
</body>
</html>